*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}



header{
    height: 5.0rem;
    background-color: #fff;
    z-index: 20;
}
header > nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav > .logo{
    display: inline-block;
    padding: 1.2rem 0rem 0.8rem 4.0rem;
}
header > nav > .menu{display: inline-block;padding-right: 4.0rem;}

header > .nav_menu{
    position: relative;
    display: none;
}
header > .nav_menu > ul{
    display: inline-block;
    width: 100%;
    padding: 0rem 0rem;
}
header > .nav_menu > ul > li{
    list-style: none;
    text-align: right;
    background-color: #F4C62C;
    padding: 1.3rem 2.3rem;
    border-bottom: 1px solid #fff;
}
header > .nav_menu > ul > li > a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

header > .nav_menu.active{
    display: flex;
    z-index: 19;
}

.section{
    width: 100%;
}

.m_sub04_top {
    width: 100%;
    height: 752px;
    background-size: cover;
    background-position: center;
    background-image:url(img/m_sub04_top.png);
    border: 0px solid blue;
    overflow: hidden;
}

.m_sub04_con01{
    width: 100%;
    height: 2333px;
    background-size: cover;
    background-position: center;
    background-image: url(img/m_sub04_bg.png);
    overflow: hidden;

}

.m_sub04_con01_wrap{
    width: 393px;
    height: 2333px;
    margin: 0 auto;
    overflow: hidden;
}
.m_sub04_01{
    display: flex;
    justify-content: center;
    margin-top: 113px;
    overflow: hidden;
}

.m_sub04_02{
    position: absolute;
    z-index: 5;
    margin-left: 14px;
    justify-content: center;
    margin-top: 18px;
    overflow: hidden;
}

.m_sub04_03{
    position: relative;
    z-index: 0;
    margin-left: 196px;
    margin-top: 220px;
}

.m_sub04_04{
    position: absolute;
    z-index: 7; 
    margin-top: -140px;
    justify-content: center;
    margin-left: 35px;
}
.m_sub04_05{
    position: absolute;
    z-index: 8;
    float: right;
    margin-top: 160px;
    margin-left: 25px;
}
.m_sub04_06{
    position: absolute;
    z-index: 9;
    float: left;
    margin-top: 380px;
    margin-left: 196px;
}

.m_sub04_07{
    position: absolute;
    z-index: 10;
    margin-left: 60px;
    justify-content: center;
    margin-top: 600px;
}

.m_sub04_08{
    position: absolute;
    z-index: 10;
    margin-left: 25px;
    justify-content: center;
    margin-top: 1000px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #252525;
}

.foot{
    width: 393px;
    height: 100px;
    margin: 0 auto;
    z-index: 20;
}

.foot_left{
    float: left;
    padding-top: 22px;
    margin-left: 10px;
}

.foot_right{
    float: right;
    padding-top: 12px;
    margin-right: 10px;
}